body{
  font-family: "Roboto", sans-serif;
}

*{
  margin-top: 0;
  margin-left: 0;
}



.legalContainer{
  display: flex;
  align-items: center;
  justify-content: center;

}
.legalContent{
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}